.book-card {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 328px;
    padding: 20px 40px;
    position: relative;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}

.book-card:after,
&:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    transition: transform .2s;
}

.book-card:after {
    transform: translate(3px, 3px)
}

.book-card:before {
    transform: translate(-3px, -3px)
}

.book-card:hover,
.book-card:after,
.book-card:before {
    transform: translate(0);
}

.book-card img {
    border: 2px black;
    border-radius: 10px;
    width: 328px;
    height: 495px;
}

.book-card h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.book-card p {
    color: #333;
}

form {
    color: #333;
}

.button{
    display: inline-block;
outline: none;
cursor: pointer;
font-size: 16px;
line-height: 20px;
font-weight: 600;
border-radius: 8px;
padding: 13px 23px;
border: 1px solid #222222;
transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
background: #fff;
color: #222222;
}

.button :hover {
    border-color: #000000;
    background: #f7f7f7;
}
